@model AdminApp.ViewModels.DefinitionViewModel

<div class="delete-message">Are you sure you want to delete the definition for <strong>@Model.Phrase</strong>?</div>

@using (Html.BeginForm("Delete", "Home", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.Phrase)
    @Html.HiddenFor(m => m.Definition)
    @Html.HiddenFor(m => m.House)

    if (Model.Alternates.Any())
    {
        for (var i = 0; i < Model.Alternates.Count(); i++)
        {
            @Html.HiddenFor(m => m.Alternates[i].Id)
            @Html.HiddenFor(m => m.Alternates[i].AlternateDefinition)
        }
    }

    <div class="modal-footer edit-submit cf">
        <button class="edit-submit__save">OK</button>
        <a data-dismiss="modal" class="edit-submit__cancel">Cancel</a>
    </div>
}

