@model AdminApp.ViewModels.DefinitionViewModel

<div>Are you sure you want to delete the definition for @Model.Phrase?</div>

@using (Html.BeginForm("Delete", "Home", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.Phrase)
    @Html.HiddenFor(m => m.Definition)
    if (Model.Alternates.Any())
    {
        for (var i = 0; i < Model.Alternates.Count(); i++)
        {
            @Html.HiddenFor(m => m.Alternates[i].Id)
            @Html.HiddenFor(m => m.Alternates[i].AlternateDefinition)
        }
    }
    <button type="submit">Yes</button>
}

