@model AdminApp.ViewModels.DefinitionViewModel
@{ 
    var ActionName = ViewContext.RouteData.Values["action"].ToString();
}

    @Html.LabelFor(m => m.House, "Bicameral")
    @Html.RadioButtonFor(m => m.House, "Bicameral")
    @Html.LabelFor(m => m.House, "Commons")
    @Html.RadioButtonFor(m => m.House, "Commons")
    @Html.LabelFor(m => m.House, "Lords")
    @Html.RadioButtonFor(m => m.House, "Lords")

    if (Model != null && Model.Alternates.Any())
    {
        <ul class="alternatesList">
            @for(var i = 0; i < Model.Alternates.Count(); i++)
            {
                @Html.HiddenFor(m => m.Alternates[i].Id)
                <li id=@i>@Html.TextBoxFor(m => m.Alternates[i].AlternateDefinition)</li>
            }
        </ul>
    }
    else if (Model != null && Model.Alternates.Count == 0)
    {
        <ul class="alternatesList"></ul>
    }
    else
    {
        <ul class="alternatesList">
            <li id="0">@Html.TextBoxFor(m => m.Alternates[0].AlternateDefinition)</li>
        </ul>
    }
    <a class="addAlternate" href="#">Add a new alternate</a>
    <button type="submit">Save</button>
}

<div class="overlay">
        <div class="modal">
            @using (Html.BeginForm(ActionName, "Home", FormMethod.Post, new { @class = "edit-form" }))
            {
                @Html.HiddenFor(m => m.Id)

                <div class="edit-wrapper">
                    <h3 class="edit-title">Add/Edit Definition </h3>

                    @Html.TextBoxFor(m => m.Phrase, new { @class = "edit-term" })
                    @Html.ValidationMessageFor(m => m.Phrase)


                    @Html.TextAreaFor(m => m.Definition, new { @class = "edit-definition", @rows = "10" })
                    @Html.ValidationMessageFor(m => m.Definition)

                    <div class="edit-alternatives">
                        <ul class="edit-alternatives__list">
                            <li><input type="text" name="alternatives-term" class="edit-alternatives__term" value="Alternative"></li>
                            <li><input type="text" name="alternatives-term" class="edit-alternatives__term" value="Alternative"></li>
                        </ul>
                        <a href="#" class="edit-alternatives__add">Add alternative term</a>
                    </div>
                    <select name="edit-group" class="edit-group">
                        <option value="Bicameral">Bicameral</option>
                        <option value="Commons">Commons</option>
                        <option value="Lords">Lords</option>
                    </select>
                </div>
                <div class="edit-submit cf">
                    <button class="edit-submit__save">Save</button>
                    <a href="#" class="edit-submit__cancel">Cancel</a>
                </div>
            }
        </div>
    </div>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/admin-app")