<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/popover")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/popover")
</head>
<body>
    <div class="container parl-header">
        This is header text
    </div>
    <div class="container parl-main-content">
        @RenderBody()
    </div>
    <div class="container parl-footer">
        This is footer text
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/parl-definitions")
    @RenderSection("scripts", required: false)
</body>
</html>
