@model AdminApp.ViewModels.DefinitionsViewModel

@{
    ViewBag.Title = "Home Page";
}

@Html.ActionLink("Add", "Add", new { })

@using (Html.BeginForm("Search", "Home", FormMethod.Post))
{
    <input type="text" id="searchTerm" name="searchTerm" />
    <button type="submit">Search</button>
}
<ol>
        @foreach (var def in Model.Definitions)
        {
            <li>
                <ul>
                    <li>@def.Phrase</li>
                    <li>Created at: @def.CreatedAt.ToString("dd/MM/yyyy hh:mm tt")</li>
                    <li>Last updated at: @def.UpdatedAt.ToString("dd/MM/yyyy hh:mm tt")</li>
                    <li>@def.House</li>
                    <li>@Html.ActionLink("Edit", "Edit", new { id = def.Id })</li>
                    <li>@Html.ActionLink("Delete", "Delete", new { id = def.Id })</li>
                </ul>
        </li>
    } 
</ol>